/* CSS Font */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --clr-primary-500: hsl(225, 100%, 94%);
  --clr-primary-700: hsl(245, 75%, 52%);

  --clr-neutral-200: hsl(223, 47%, 23%);
  --clr-neutral-600: hsl(224, 23%, 55%);
  --clr-neutral-800: hsl(225, 100%, 98%);

  --box-shadow: 0 2px 1px 0 var(--clr-neutral-600);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: var(--clr-neutral-200);
  min-height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
  max-width: 100%;
  z-index: -1;
  background-color: var(--clr-neutral-800);
  position: relative;
}

body,
.order-summary {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* change the background based of the size of the screen */
@media (max-width: 45em) {
  body {
    background-image: url("../images/pattern-background-mobile.svg");
  }

  .order-summary {
    max-width: 79%;
  }
}

@media (min-width: 45em) {
  body {
    background-image: url("../images/pattern-background-desktop.svg");
  }

  .order-summary {
    max-width: 30%;
  }
}

.order-summary {
  background-color: hsl(0, 0%, 100%);
  flex-direction: column;
  text-align: center;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  box-shadow: var(--box-shadow);
  margin: 2em 0;
}

.main-img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
}

.text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 1em;
}

.info .heading {
  margin: 1em 0 0.7em;
  font-size: 2rem;
  font-weight: 900;
}

.info .paragraph {
  line-height: 1.7;
  font-size: 1.15rem;
  color: var(--clr-neutral-600);
  font-weight: 500;
}

.plan {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--clr-neutral-800);
  width: 100%;
  padding: 0.5em;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  margin: 1em 0;
}

.plan-wrapper {
  gap: 1.5em;
}

.plan-info,
.plan-wrapper,
.payment {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plan-info,
.payment {
  flex-direction: column;
}

.plan-info {
  gap: 0.5em;
}

.plan-info .text {
  font-size: 1.15rem;
  font-weight: 900;
}

.plan-info .money {
  font-size: 1rem;
  color: var(--clr-neutral-600);
  font-weight: bold;
}

.change-plan {
  font-size: 1rem;
  color: var(--clr-primary-700);
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  transition: text-decoration 300ms ease;
  -webkit-transition: text-decoration 300ms ease;
  -moz-transition: text-decoration 300ms ease;
  -ms-transition: text-decoration 300ms ease;
  -o-transition: text-decoration 300ms ease;
}

.change-plan,
.payment-btn {
  border: transparent;
  outline: transparent;
  background-color: transparent;
}

.change-plan:hover {
  text-decoration: none;
}

.payment {
  margin: 1em 0 2em;
  gap: 1.3em;
  width: 100%;
}

.payment-btn {
  font-size: 1rem;
  width: 100%;
  display: block;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
}

.send-order {
  background-color: var(--clr-primary-700);
  color: var(--clr-neutral-800);
  padding: 1em 0.5em;
  border-radius: 0.8em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  box-shadow: var(--box-shadow);
  transition: opacity ease 300ms;
  -webkit-transition: opacity ease 300ms;
  -moz-transition: opacity ease 300ms;
  -ms-transition: opacity ease 300ms;
  -o-transition: opacity ease 300ms;
}

.send-order:hover {
  opacity: 0.8;
}

.cancel-order {
  color: var(--clr-neutral-600);
  transition: color ease 300ms;
  -webkit-transition: color ease 300ms;
  -moz-transition: color ease 300ms;
  -ms-transition: color ease 300ms;
  -o-transition: color ease 300ms;
}

.cancel-order:hover {
  color: var(--clr-neutral-200);
}
